name: Notify parent repo

on:
  push:
    branches:
      - main
      - master

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger parent repo workflow
        env:
          GH_TOKEN: ${{ secrets.NOTIFY_TOKEN }}
        run: |
            gh workflow run clone-repo.yml -R ayakaOS/ayakaOS.github.io
